#sect img {
  width: 250px;
  height: 250px;
  cursor: pointer;
  padding: 5px;
  border: 10px solid #F5811F;
  border-radius: 10%;
}


#sect img:hover {
  background: #ff7b29;
  border-radius: 50%;
  transition-duration: 1s;
}

h1 {
  text-align: center;
  font-family: Quicksand;
  color: white;
}

h2 {
  text-align: center;
  font-family: Quicksand;
  background-color: #F5811F;
  color: white;
  padding: 10px;
}

#sect {
  text-align: center;
  border: solid white 1px;
}

body {
background-color: #008D97
}

#vote-list {
  color: white;
}

#canvas {
  color: white;
  border: none;

}

#sect img: hover {
  background: #ff7b29;
  border-radius: 50%;

}
